/SEM7/2/client/.idea
/SEM7/2/server/.idea
/SEM7/3/client/.idea
/SEM7/3/server/.idea
/SEM7/4/client/.idea
/SEM7/4/server/.idea
/SEM7/5/client/.idea
/SEM7/5/server/.idea
/SEM7/6/client/.idea
/SEM7/6/server/.idea
/SEM8/1/ping/.idea
/SEM8/2/ping/.idea
/SEM8/3/chat/.idea
/SEM8/4/chat/.idea